/* Цвет акцента       color: rgba(33, 150, 243, 1) */
/* главный текст  color: rgba(33, 33, 33, 1) */
/* вторичный текст  color: rgba(117, 117, 117, 1) */

:root {
  --acent-color: rgba(33, 150, 243, 1);
  --main-text: rgba(33, 33, 33, 1);
  --third-text: rgba(117, 117, 117, 1);
  --non-activ-button: rgba(245, 244, 250, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text);
}

li {
  list-style-type: none; /* Убираем маркеры */
}

a {
  text-decoration: none;
}

==========================================================/* LOGO */==========================================================
.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.logo span {
  color: rgba(33, 150, 243, 1);
}

==========================================================/* NAVIGATION */====================================================
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-text);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--acent-color);
}

.activ-page {
  color: var(--acent-color);
}

.mail-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--third-text);
}

.mail-tel:hover,
.mail-tel:focus {
  color: var(--acent-color);
}

=========================================================/* HERO */==============================================
.hero {
  background-color: rgba(47, 48, 58, 1);
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.85;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
  color: fffffff;
}
=================================================================/* MAIN-CONTENT */==============================================
.header-typeh2 {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text);
}

.header-typeh3 {
  font-size: 14px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text);
}

.secondary-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--third-text);
}

.photo-texth3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text);
}

.photo-text2th {
  font-size: 16px;
  line-height: 1.2px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-text);
}
=============================================================/* FOOTER */==========================================================
.address-build {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: rgba(47, 48, 58, 1);
}

.logo-footer {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.logo-footer span {
  color: rgba(33, 150, 243, 1);
}

.footer-contact {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--acent-color);
}
==========================================================================/* PORTFOLIO */===================================================
.portfolio-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text);
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #188ce8;
  color: #ffffff;
}

.portfolio-texth3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-text);
}

.portfolio-text2th {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--third-text);
}
